.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    align-items: center;
    position: fixed;
    top: 0%;
    right: 0;
}
.resetPasswordBox{
    height: 70vh;
    width: 25vmax;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
}
.resetPasswordHeading{
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font-size: 1.7vmax ;
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 60%;
    margin: auto;
}
.resetPasswordForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 80%;
    padding: 1.5vmax;
}
.resetPasswordForm > div > input {
    padding: 1vmax 3vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1.2vmax ;
    outline: none;
  }
  .resetPasswordForm >div > img {
    position: absolute;
    transform: translateX(10px)translateY(15px);
    /* font-size: 1.6vmax; */
    color: rgba(0, 0, 0, 0.623);
    width: 1.5vmax;
    
  }
   .password, .confirmPassword {
    width: 100%;
    }
    .resetPasswordBtn {
        border: none;
        background-color: tomato;
        font: 500 1.2vmax ;
        padding: 0.6vmax 2vmax;
        margin: 1vmax 0;
        color: white;
        cursor: pointer;
        transition: all 0.5s;
        outline: none;
        width: 100%;
    }
    .resetPasswordBtn:hover {
        background-color: rgb(197, 68, 45);
        /* transform: scale(1.1); */
    }

    @media screen and (max-width: 600px) {
        .resetPasswordContainer {
            background-color: white;
            width: 104vw;
            height: 100vh;
            background-image: none;
        }
        .resetPasswordBox {
            width: 90vw;
            height: 40vh;
            box-shadow: none;    
        }
        .resetPasswordHeading{
            font-size: 3vmax;
        }
        .resetPasswordForm >div > img {
            width: 2vmax;
        }
        .resetPasswordForm > div > input {
            padding: 1vmax 5vmax;
        }
    }