.userDetailsHeader{
    display: flex;
    justify-content: end;
}


.userDetailsHeader >div{
    width: 20%;
}
.userDetailsHeader >div > input{
    padding: 0.5vmax;    
    padding-left: 3vmax;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1.2vmax;
    outline: none;
    width: 100%;
}
.userDetailsHeader >div > svg {
    position: absolute;
    transform: translateX(1vmax) translateY(10px);
    font-size: 1.3vmax;
    color: rgba(0, 0, 0, 0.423);
}

@media screen and (max-width: 600px ){
    .userDetailsHeader >div{
        width: 50%;
    }
    .userDetailsHeader >div > svg {
        font-size: 1.7vmax;
    }
}
