/* FilterBox.css */
/* .filter-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .filter-box {
    position: absolute;
    right: 8vmax;
    /* top:14vmax;
    right: 8vmax; */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    z-index: 500000;
    margin-top: 0.5vmax;
    
  }
  
   .filter-box h1 {
    margin-bottom: 15px; 
    font:600 1.8vmax ;
    color: rgba(0,0,0,0.65)
    } 
  
  .filter-box h2 {
    display: block;
    margin-bottom: 10px;
    font: 550 1.3vmax ;
    color: #9a3c46;
  }

  .filter-box p{
    font: 400 1vmax;
    margin: 0px;
  }

 
  .field{
    display: flex;
    justify-content: space-between;
  }
  .field > span{
    padding: 1vmax;
    
  }
  
  /* .filter-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  
  .filter-box button {
    padding: 8px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 300 1vmax
  }
  
  .filter-box button:first-of-type {
    background: black;
    color: white;
    transition: all 0.5ms;
  }
  .filter-box button:first-of-type:hover{
    background:rgb(111, 110, 110);
    
  }
  
  .filter-box button:last-of-type {
    background: #dc3545;
    color: white;
    transition: all 0.5ms;
  }
  .filter-box button:last-of-type:hover {
    background: #9a3c46;
  }

  .filter-box .rc-slider-track, .rc-slider-tracks {
    background-color: tomato;
  }

  .filter-box .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: tomato;
    box-shadow: 0 0 0 5px #dea89e;
}
.filter-box .rc-slider-handle {
  border-color: tomato;
}
.filter-box .rc-slider-handle:hover {
  border-color: #dea89e;
}
.filter-box .rc-slider{
  margin: 0.5vmax 0.5vmax; 
}
.price-range{
  font: 400 1.4vmax ;
  margin-bottom: 1vmax ;
}
.form-check > label{
  font: 350 1vmax 
}
.form-check-input:focus {
  border-color: rgba(255, 99, 71, .25) !important;
  box-shadow: 0 0 0 .25rem rgba(255, 99, 71, .25) !important;
}

.form-check-input:checked {
  background-color: tomato !important;
  border-color: tomato !important;
}

@media screen and (max-width: 600px) {
  /* .filter-box {
    margin-top: 6vmax;
  } */
  .filter-button {
    padding: 5px 10px;
  }
  .filter-button img {
    width: 2.5vmax;
  }
}


  